
#box1{
    margin-top: 20px;
    height: 100px;
    width: 95%;
    background-color: rgb(86, 221, 176);
    display: flex;
    flex-direction: row;
}
#box2{
    margin-top: 20px;
    height: 100px;
    width: 95%;
    background-color: rgb(243, 28, 53);
    display: flex;
    flex-direction:row-reverse
}
#box3{
    margin-top: 20px;
    width: 100px;
    height: 600px;
    background-color: rgb(58, 222, 208);
    display: flex;
    flex-direction:column;
}
#box4{
    margin-top: 20px;
    width: 100px;
    height: 600px;
    background-color: rgb(26, 199, 141);
    display: flex;
    flex-direction:column-reverse;
}
.div{
    margin: 20px 5px 0px 5px;
    padding-top: 20px;
    height: 50%;
    width: 10%;
    border: 2px solid black ;
    text-align: center;
    background-color: brown;
}
.div1{
    margin: 20px 5px 0px 5px;
    padding-top: 20px;
    height: 50px;
    width: 10%;
    border: 2px solid black ;
    text-align: center;
    background-color:rgb(86, 221, 176);
}
.div2{
    margin: 20px 5px 0px 5px;
    padding-top: 20px;
    height: 10%;
    width: 50%;
    border: 2px solid black ;
    text-align: center;
    background-color: rgb(26, 199, 141);
}
.div3{
    margin: 20px 5px 0px 5px;
    padding-top: 20px;
    height: 10%;
    width: 50%;
    border: 2px solid black ;
    text-align: center;
    background-color: rgb(58, 222, 208);
}