.bag{
    height: 30px;
    width: 150px;
    margin: 10px;
    /* border: 1px solid black; */
    border-radius: 10px;
    background-color: aquamarine;
}
#bag2{
    height: 30px;
    width: 150px;
    margin: 10px;
    border-radius: 10px;
}